<main class="position-absolute top-0 bottom-0 w-100 row m-0" style="background-color: rgb(94, 77, 255);">
  <div class="container p-5 d-flex flex-column">
    <div class="d-flex justify-content-center align-items-start">
      <input type="text" class="form-control me-2" style="width: 200px;" placeholder="Search for city..." [(ngModel)]="inputData"/>
      <button type="button" class="btn btn-warning fw-bold" (click)="searchForCity()">Search</button>
    </div>
    <p class="text-danger text-center m-0 p-0">{{errorMessage}}</p>
    <div class="w-100 h-100 d-flex justify-content-center p-3">
      <div class="h-100 rounded-3 d-flex flex-column position-relative" style="width: 450px; background-color: rgb(59, 46, 173); box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.534);">
        <img [src]="imagePath" class="w-100 rounded-3" style="max-height: 250px; object-fit:cover;"/>
        <div class="position-absolute top-0 w-100 d-flex flex-column justify-content-center align-items-center text-white rounded-3" style="height: 250px; background-color: rgba(0, 0, 0, 0.363);">
          <p>{{cityName}}</p>
          <h1>{{degrees}}°C</h1>
        </div>
        <div class="p-4 px-5 text-white h-100 d-flex flex-column">
          <h4>More Information</h4>
          <div class="row align-items-center flex-grow-1 text-center rounded-3 shadow" style="background-color: rgb(130, 116, 255);">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="me-4">
                <img src="../assets/hot.png" class="img-fluid" width="35px"/>
                <h6>degrees</h6>
              </div>
              <p>{{degreesInF}}°F</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="me-4">
                <img src="../assets/clouds.png" class="img-fluid" width="35px"/>
                <h6>clouds</h6>
              </div>
              <p>{{clouds}}%</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="me-4">
                <img src="../assets/humidity.png" class="img-fluid" width="35px"/>
                <h6>humidity</h6>
              </div>
              <p>{{humidity}}%</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="me-4">
                <img src="../assets/wind.png" class="img-fluid" width="35px"/>
                <h6>wind</h6>
              </div>
              <p>{{wind}} km/h</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>